<div>
    <img src="assets/images/home_image.png" class="img-fluid">
</div>

<div class="container-fluid">
    <h1>Safe your time and money</h1>
    <p>With Earmars send your things with somebody</p>
    <form class="form-inline">
        <div class="form-group">
            <label for="from"></label>
            <input type="text" class="form-control mr-1" name="from" placeholder="From">
        </div>
        <div class="form-group">
            <label for="to"></label>
            <input type="text" class="form-control mr-1" name="to" placeholder="To">
        </div>
        <div class="form-group">
            <label for="date"></label>
            <input type="date" class="form-control mr-1" name="to" placeholder="To" style="height:38px;width:222px">
        </div>
        <div class="form-group">
          <a routerLink="/findoffer" class="btn btn-success" value="Find one">Find one</a>
        </div>
    </form>
</div>


<div class="container-fluid">
  <figure>
   <div class="row" style="margin-top:20px;">
        <section class="col-md-6">
            <img src="#" class="img-fluid figure-img">
        </section>
        <section class="col-md-6 text-center bg-faded">
            <h1 style="margin-top:60px;">Drive together<p> it's worth it!</p> </h1>
            <p style="font-size: 1.2em">Ride. Take the rider. Cost savings.</p>
            <input type="submit" class="btn btn-success btn-lg" value="Make offer">
        </section>
    </div>
    </figure>
</div>

  <div class="container-fluid offer">
        <div>
            <h2>Travel together favorably from A to B</h2>
            <p class="lead">Earmars very easy very fast</p>
        </div>
        <div class="row container-fluid d-flex">
           <section class="col-sm-4 bg-faded" style="border-right:1px dashed">
            <a href="#">
           <div class="row">
               <div class="col-md-6">
               		<h6>Hamburg</h6>
               		<h6>Berlin</h6>
               </div>
               <div class="col-md-6 text-inline">
               		<h5> ab <p><span class="startPrice">14Euro</span></p> </h5>
               </div>
		   </div>
            </a>
            </section>

           <section class="col-sm-4 bg-faded" style="border-right:1px dashed">
            <a href="#">
            <div class="row">
               <div class="col-md-6">
               		<h6>Köln</h6>
               		<h6>München</h6>
               </div>
               <div  class="col-md-6 text-inline">
               		<h5> ab <p><span class="startPrice">14Euro</span></p> </h5>
               </div>
			</div>
			</a>
           </section>

           <section class="col-sm-4 bg-faded">
           <a href="#">
           <div class="row">
               <div  class="col-md-6">
               		<h6>Frankfurt</h6>
               		<h6>Stuttgart</h6>
               </div>
               <div  class="col-md-6 text-inline">
               		<h5> ab <p><span class="startPrice">14Euro</span></p> </h5>
               </div>
			</div>
		   </a>
           </section>
        </div>
    </div>


<div class="container-fluid offer">
    <div style="text-align: center;">
        <h2>How does Earmars work?</h2>
        <a class="text-right" style="" href="#">More info</a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>1. Find people
                <p><span class="steps">Who travel on the same route</span></p>
            </h3>
        </div>
        <div class="col-md-4">
            <h3>2. Select
                <p><span class="steps">With whom you want to travel.</span></p>
            </h3>
        </div>
        <div class="col-md-4">
            <h3>3. Travel together
                <p><span class="steps">And give a rating after the ride.</span></p>
            </h3>
        </div>
    </div>
</div>


<div class="container width">

</div>

