<a href="#" class="btn btn-primary btn-sm mr-1">profile of reciever</a>

<p>
  1-the photo or the name of the person will be clickable to his profile
  2-full description of the the selected result with three buttons 1-accept 2-increase the offer money 3-message
</p>
<p>
  if i select accept i will go to the page which contains bank data page to fill it
</p>
<a routerLink="/findoffer/selectedone/bankdetail" class="btn btn-primary btn-sm mr-1">Accept</a>
<a href="#" class="btn btn-primary btn-sm mr-1">increase offer</a>
<a href="#" class="btn btn-primary btn-sm mr-1">contact</a>
